<form class="card m-3">
    <input  [formControl]="idproveedor" class="p-2 mb-2"  placeholder="id"/>
    <input  [formControl]="nombre" class="p-2 mb-2" placeholder="nombre"/>
    <input  [formControl]="apellido" class="p-2 mb-2" placeholder="apellido"/>
    <button (click)="addFactura()" class="btn btn-success">add book</button>
</form>

<ul class="list-group m-3">
    <li class="list-group-item" *ngFor="let factura of facturas">
        <p>{{factura.idproveedor}}</p>
        <p>{{factura.nombre}}</p>
        <p>{{factura.apellido}}</p>

    </li>

</ul>
